body {
    height: auto;
    background-color: rgb(255, 255, 255);
}

.title-card{
    margin-top: 20px;
}
#target-score, #your-score, #wins, #losses{
    font-weight: 400;
}
#green-rupee,#red-rupee, #blue-rupee, #purple-rupee{
    width: 100px;
    margin: auto;
}
.card {
    margin: 0 center;
    float: none;
    margin-bottom: 10px;
}